<!DOCTYPE html>
<html>

<head>
    <title>Task Description</title>
    <meta charset="UTF-8">
    <script type="text/javascript" src="{{url_for('static',filename='jquery-3.4.1.min.js')}}"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ url_for("flask_util_js") }}"></script>
</head>

<body>
    <div id="instruction" style="margin: auto; width: 60%;">
        <fieldset>
            <legend>
                <h2>Instructions</h2>
            </legend>
            
            <p> Thank you! You have completed the first part of the experiment. </p>
            <p id = "feedback">
                In the next part, you will be presented with some more wordclouds.
                You will receive feedback of your answer after each trial. For example, 
                if you clicked the smaller word, the screen would flash “<strong>Incorrect</strong>".  
                If you clicked the larger word, the screen would flash “<strong>Correct</strong>".
            </p>
            <p>Please continue to click on the larger target as quickly and as accurately as possible. </p>
            </fieldset>
    </div>

    <form action="{{url_for('get_stim')}}" method = "POST" id="stim"></form>

    <div style="text-align: center;">
		<button id="next">Next</button>
	</div>

    <script>
        var turker_id = "{{turker_id}}"
		var order = {{order}}
		var trial_index = {{trial_index}}
		var group = order[0] & 1
        if (group ==0){
            document.getElementById("feedback").innerHTML = "In the next part, you will be presented some more wordclouds.";
        }
        var tid_input= $("<input>").attr("type","hidden").attr("name","turker_id").val(turker_id);
		var order_input = $("<input>").attr("type","hidden").attr("name","order").val(JSON.stringify(order));
		var trial = $("<input>").attr("type","hidden").attr("name","trial_index").val(trial_index);
        d3.selectAll('#next').on('click', function() {
            $('#stim').append(tid_input).append(order_input).append(trial).submit();
        })
    </script>

</body>

</html>