<!DOCTYPE html>
<html>

<head>
    <title>Task Description</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='jqcloud.css')}}">
</head>

<body>
    <div id="instruction" style="margin: auto; width: 60%;">
        <fieldset>
            <legend>
                <h2>Instructions</h2>
            </legend>
            
            <p>In the next part, you will be presented with the feedback of your answer after each trial. For example, 
                if you clicked the smaller word, the screen would flash “<strong>Incorrect</strong>".  
                If you clicked the larger word, the screen would flash “<strong>Correct</strong>". 
            </p>
            </fieldset>
    </div>

</body>

</html>