<!DOCTYPE html>
<html>

<head>
    <title>Task Description</title>
    <meta charset="UTF-8">
    <script type="text/javascript" src="{{url_for('static',filename='jquery-3.4.1.min.js')}}"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ url_for("flask_util_js") }}"></script>
</head>

<body>
    <div id="instruction" style="margin: auto; width: 60%;">
        <fieldset>
            <legend>
                <h2>Instructions</h2>
            </legend>
            
            <p>In the next part, you will be presented with the feedback of your answer after each trial. For example, 
                if you clicked the smaller word, the screen would flash “<strong>Incorrect</strong>".  
                If you clicked the larger word, the screen would flash “<strong>Correct</strong>". 
            </p>
            </fieldset>
    </div>

    <form action="{{url_for('cloud')}}" method = "POST" id="cloud"></form>

    <div style="text-align: center;">
		<button id="next">Next</button>
	</div>

    <script>
        var turker_id = {{tid}}
		var order = {{order}}
        var tid= $("<input>").attr("type","hidden").attr("name","turker_id").val(turker_id);
		var ord = $("<input>").attr("type","hidden").attr("name","order").val(JSON.stringify(order));
		var trial = $("<input>").attr("type","hidden").attr("name","trial").val(18);
        d3.selectAll('#next').on('click', function() {
            $('#cloud').append(tid).append(ord).append(trial).submit();
        })
    </script>

</body>

</html>