<!DOCTYPE html>
<html>
	<head>
		<title>Completion Page</title>
        <meta charset="UTF-8">
		
	</head>

	<body>
        <h1 style="text-align: center;">Completion page</h1>

        <div id="instruction" style="margin: auto; width: 60%; ">
            <fieldset>
            <legend><h3>Instructions:</h3></legend>
            <p>
                Thank you! You have completed the experiment. <br>
                Please answer the following questions. They will be confidential. <br>
                After you finish, please click the "Next" button. Then the webpage will prepare for you a completion code, which you can use on Amazon to redeem you compensation.
            </p>
            </fieldset>
        </div>
        <br>
        <br>
        <div id="demographic" style="margin: auto; width: 60%; ">
            <fieldset>
                <legend><h3>Demographics:</h3></legend>
                
                <b>Age (in years):</b><br>
                <input type="text" name="age"><br>
                
                <br>
                <b>Gender:</b><br>
                <form id="gender_form">
                    <input type="radio" name="gender" value="male" />Male<br>
                    <input type="radio" name="gender" value="female" />Female<br>
                    <input type="radio" name="gender" value="other" id="radio_gender_other"/>Other: 
                    <input id="gender_other" type="text" name="gender" style="visibility: hidden;"/><br>
                    <input type="radio" name="gender" value="no" />Prefer Not to Specify
                </form>

                <br>
                <b>Are you a native English speaker?</b><br>
                <form id="native_lan_form">
                    <input type="radio" name="native_lan" value="1" />Yes
                    <input type="radio" name="native_lan" value="0" />NO
                </form>

                <br>
                <b>Education Level:</b><br>
                <form id="edu_form">
                    <input type="radio" name="edu" value="1" />Some High School
                    <input type="radio" name="edu" value="2" />High School Graduate
                    <input type="radio" name="edu" value="3" />Some College
                    <input type="radio" name="edu" value="4" />College Graduate
                    <input type="radio" name="edu" value="5" />Graduate Degree
                </form>

                <br>
                <b>Device:</b><br>
                i) Which browser are you using?
                <form id="browser_form">
                    <input type="radio" name="browser" value="1" />Chrome
                    <input type="radio" name="browser" value="2" />Firefox
                    <input type="radio" name="browser" value="3" />Safari
                    <input type="radio" name="browser" value="4" />Microsoft Edge
                    <input type="radio" name="browser" value="5" />Opera
                    <input type="radio" name="browser" value="6" />IE
                    <input type="radio" name="browser" value="7" />Other
                </form>
                <br>
                ii) Are you using a trackpad or a physical mouse?
                <form id="device_form">
                    <input type="radio" name="device" value="1" />Trackpad
                    <input type="radio" name="device" value="2" />Physical mouse
                    <input type="radio" name="device" value="3" />Other
                </form>

                <br>
                <b>Experience:<br>
                i) How familiar are you with word cloud? On a scale from 1 (no experience at all) - 7 (very familiar)<br></b>
                1 (no experience at all) <input type="range" min="1" max="7" value="1" class="slider" id="experience_cloud_range" style="width: 50%"> 7 (very familiar) <br>
                Value: <span id="experience_cloud_value"></span><br>

                <br>
                <b>ii) How familiar are you with reading text from electronic devices? On a scale from 1 (no experience at all) - 7 (very familiar)<br></b>
                1 (no experience at all) <input type="range" min="1" max="7" value="1" class="slider" id="experience_device_range" style="width: 50%"> 7 (very familiar) <br>
                Value: <span id="experience_device_value"></span><br>


                <br>
                <b>Difficulty:<br>
                i) How difficult was it to decide the correct answer? On a scale from 1 (very easy) - 7 (very difficult)<br></b>
                1 (very easy) <input type="range" min="1" max="7" value="1" class="slider" id="difficulty_range" style="width: 50%"> 7 (very difficult) <br>
                Value: <span id="difficulty_value"></span><br>

                <br>
                <b>ii) What percentage of the questions do you think you got correct? (From 0% to 100%)<br></b>
                0% <input type="range" min="0" max="100" value="0" step="5" class="slider" id="confidence_range" style="width: 50%"> 100%<br>
                Value: <span id="confidence_value"></span>%<br>

                <br>
                <b>We'd love to hear your strategies and feedbacks!</b><br>
                <textarea id="comments" rows="4" cols = "100" placeholder="Please feel free to share your strategies used to distinguish the larger word, or point out any deficiency on experiment design/user experience/bugs,etc. Your comment is greatly appreciated."></textarea>
            </fieldset>

            <br>
            <div style="text-align: center;">
                <button id="nextButton" style="text-align: center;">Next</button>
            </div>
        </div>
        
        <div style="margin: auto; width: 60%; ">
            <p id="hashcode" style="visibility: hidden; font-size: x-large">Your completion code is: {{hash_code}}</p>
        </div>

        <script type="text/javascript" src="../static/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="{{ url_for("flask_util_js") }}"></script>
        <script>
            var difficulty_slider = document.getElementById("difficulty_range");
            var difficulty_value = document.getElementById("difficulty_value");
            difficulty_value.innerHTML = difficulty_slider.value;
            difficulty_slider.oninput = ()=>{difficulty_value.innerHTML = difficulty_slider.value;};

            var confidence_slider = document.getElementById("confidence_range");
            var confidence_value = document.getElementById("confidence_value");
            confidence_value.innerHTML = confidence_slider.value;
            confidence_slider.oninput = ()=>{confidence_value.innerHTML = confidence_slider.value;};

            var cloud_slider = document.getElementById("experience_cloud_range");
            var cloud_value = document.getElementById("experience_cloud_value");
            cloud_value.innerHTML = cloud_slider.value;
            cloud_slider.oninput = ()=>{cloud_value.innerHTML = cloud_slider.value;};

            var device_slider = document.getElementById("experience_device_range");
            var device_value = document.getElementById("experience_device_value");
            device_value.innerHTML = device_slider.value;
            device_slider.oninput = ()=>{device_value.innerHTML = device_slider.value;};

            nextButton = document.getElementById("nextButton");
            nextButton.onclick = ()=>{
                document.getElementById("hashcode").style.visibility="visible";
                post_demographic_data();
                document.getElementById("nextButton").style.visibility="hidden";
            };

            $("#radio_gender_other").click(()=>{$("#gender_other")[0].style.visibility="visible";});

            var turker_id = "{{turker_id}}"

            function post_demographic_data(){
                var age = document.getElementsByName("age")[0].value;
                var difficulty = document.getElementById("difficulty_range").value;
                var confidence = document.getElementById("confidence_range").value;
                var exp_de = document.getElementById("experience_device_range").value;
                var exp_cl = document.getElementById("experience_cloud_range").value;
                var edu = getRadioVal(document.getElementById("edu_form"),"edu");
                var native_lan = getRadioVal(document.getElementById("native_lan_form"),"native_lan");
                var comments = document.getElementById("comments").value;
                var device = getRadioVal($("#device_form")[0],"device");
                var browser = getRadioVal($("#browser_form")[0],"browser");
                var gender = getRadioVal(document.getElementById("gender_form"),"gender");
                var zoom = window.devicePixelRatio;
                var user_agent = navigator.userAgent;
                if (gender === "other"){
                    gender = $("#gender_other").value;
                }
                var demographic_data = {
                    "turker_id": turker_id,
                    "age": age,
                    "gender": gender,
                    "education": edu,
                    "language": native_lan,
                    "device": device,
                    "browser": browser,
                    "difficulty": difficulty,
                    "confidence": confidence,
                    "exp_de" : exp_de,
                    "exp_cl" : exp_cl,
                    "zoom": zoom,
                    "user_agent": user_agent,
                    "comments": comments,
                };
                $.ajax({
                    type: 'POST',
                    url: flask_util.url_for('post_demographic'),
                    data: JSON.stringify(demographic_data),
                    contentType: "application/json",
                    success: function(response){
                        $("#demographic").html("");
                    },
                    error: function(error){
                        alert("error saving data");
                    }
                });
            }
            function getRadioVal(form, name) {
                var val;
                // get list of radio buttons with specified name
                var radios = form.elements[name];
                
                // loop through list of radio buttons
                for (var i=0, len=radios.length; i<len; i++) {
                    if ( radios[i].checked ) { 
                        val = radios[i].value; 
                        break; 
                    }
                }
                if (val === undefined) {
                    val = 0;
                }
                return val; // return value of checked radio or undefined if none checked
            }
        </script> 
    </body>
    
</html>
